/* #back-ground {
  height: 1600px;

  background-image: url("src/assets/img/A7305051.jpg");
  background-color: aliceblue;

} */

.main-container {
  /* height: 1300px; */
  /* width: 100%; */
  /* position: relative; */
  /* background-image: url("src/assets/img/A7305051.jpg"); */
  /* background-color: aliceblue; */
  padding: 480px 48px 160px;

}


.main-content {
  height: 1000px;
  /* width: 100%; */
  /* background-color: aliceblue; */
  /* border: 1px solid black; */
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
  display: flex;
  flex-direction: column;
  align-items: center;
}


.Content {
  height: calc(100% - 48px);
  background-color: aliceblue;
} 

/* プロフィール */
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}