/* #back-ground {
  height: 1600px;

  background-image: url("src/assets/img/A7305051.jpg");
  background-color: aliceblue;

} */

/* 背景などのページ全体 */
.main-container {
  /* height: 1300px; */
  /* width: 100%; */
  /* position: relative; */
  background-image: url("../img/stars.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  /* background-color: aliceblue; */
  padding: 240px 48px 120px;

}

/* ページ本体 */
.main-content {
  height: 1400px;
  /* width: 100%; */
  background-color: white;
  /* border: 1px solid black; */
  border-radius: 8px;
  box-shadow: 0 2px 24px 12px rgba(0,0,0,0.26);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}


.Content {
  margin-top: 24px;
  height: calc(100% - 200px);
  /* background-color: aliceblue; */
  box-shadow: 0 0 16px rgba(0,0,0,0.1);
} 

/* プロフィール */
.profile {
  color: gray;
  height: 400px;
  width: 720px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: -90px;
}

/* フッター */
.footer {
  font-size: 16px;
  color: gray;
  position: absolute;
  bottom: -90px;
}

.skill-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap:wrap;
}


/* Photoページ */
