/* 背景などのページ全体 */
.main-container {
  background-image: url("../img/stars.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: aliceblue;
  padding: 208px 24px 120px;
}
/* ページ本体 */
.main-content {
  min-height: 1000px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 24px 12px rgba(0,0,0,0.26);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-bottom: 80px;
}

.Content {
  margin-top: 24px;
  height: calc(100% - 200px);
  /* background-color: aliceblue; */
  box-shadow: 0 0 16px rgba(0,0,0,0.1);
} 

/* プロフィール */
.profile {
  color: gray;
  height: 400px;
  width: 720px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: -90px;
}

/* Aboutページ */
.about {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.detail {
  color: gray;
  background-color: white;
  height: 700px;
  box-shadow: 0 0 16px rgba(0,0,0,0.1);
  border-radius: 4px;
  box-sizing: border-box;
  margin-right: 16px;
  padding: 0 16px;
  text-align: center;
  overflow: scroll;
  /* font-family: "Roboto Slab", "Times New Roman", serif; */
}
.detail-font {
  text-align: left;
  font-size: 15px;
}
.career {
  text-align: left;
  font-size: 13px;
}


/* フッター */
.footer {
  font-family: "Roboto Slab", "Times New Roman", serif;
  font-size: 16px;
  color: gray;
  position: absolute;
  bottom: -90px;
}




/* Skillsページ */
.skills {
  width: 100%;
  color: gray;
}
.skill {
  color: gray;
}


/* 共通 */
.flexbox {
  display: flex;
  justify-content: space-around;
  flex-wrap:wrap;
}
.subtitle {
  color: gray;
  text-align: center;
  margin: 16px 0 ;
  letter-spacing: 0.2em;
}